<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="HPC Refactoring Actions"
            id="org.eclipse.cdt.ui.refactor.synctoasync.actionSet"
            label="Sync To Async"
            visible="true">
        <menu
               label="Refactor"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="reorgGroup"/>
            <separator name="codingGroup"/>
            <separator name="reorgGroup2"/>
            <separator name="typeGroup"/>
            <separator name="typeGroup2"/>
            <separator name="codingGroup2"/>
            <separator name="typeGroup3"/>
            <separator name="hpcGroup"/>
            <separator
                  name="historyGroup">
            </separator> 
        </menu>
        <menu
               id="org.eclipse.cdt.ui.refactor.synctoasync.menu"
               label="HPC"
               path="org.eclipse.jdt.ui.refactoring.menu/hpcGroup">
            <separator name="group" />    
        </menu>

         <action
         	   class="is.hi.cs.hpcrefactoring.synctoasync.SyncToAsyncAction"
               label="Sync to Async"  
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/org.eclipse.cdt.ui.refactor.synctoasync.menu/group"
               id="is.hi.cs.hpcrefactoring.synctoasync.action.SyncToAsyncAction">
         </action>

      </actionSet>
   </extension>
</plugin>
